body{
  margin: 0;
  background: skyblue;
}

.container{
  padding: 32px;
}

.messages{
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages li{
  display: flex;
}

.messages li + li{
  margin-top: 32px;
}

.pic img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text{
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
}